{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": ["babel-plugin-styled-components"]
    },
    "test": {
      "plugins": [
        "babel-plugin-styled-components",
        "dynamic-import-node"
      ]
    }
  }
}
